body {
    background-color: #EFEFEF;
    font: caption;
}

#key-input {
    width: 95%;
    font-size: 1.2em;
    padding: 0.25em;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #D4D4D4;
}

#new-key-input {
    width: 100%;
    font-size: 1.2em;
    padding: 0.25em;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #D4D4D4;
}

#new-val-input {
    width: 100%;
    padding: 0.25em;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #D4D4D4;
}

.item:focus {
    background-color: #4184DE;
    color: #FFFFFF;
    outline: none;
}

.item + .item {
    border-top: 1px solid #D4D4D4;
}

.item-header {
    margin: 0.25em;
    /* font-size: 0.8em; */
    margin-left: 10px;
}

.item-value {
    /* font-size: 0.8em; */
    margin: 0;
    margin-left: 10px;
}

.item {
    padding-bottom: 0.25em;
}

.error-text {
    color: #CE311E;
    font-size: 0.9em;
}

.app-container {
    padding-right: 0.5em;
}

.app-container:focus {
    outline: none;
}

.help-toggle-icon {
    text-align: right;
    font-size: 1.2em;
    position: fixed;
    bottom: 0;
    width: 2em;
    right: 0;
    padding-right: 0.8em;
    padding-bottom: 0.5em;
    cursor: pointer;
}